{{ define "main" }}
<article>
  <section>
    {{- .Content -}}
  </section>

  <section>
    {{ range (.Paginator 25).Pages.GroupByDate "2006" }}
      <hr class="p-0 pt-4 m-0" />
      <section class="flex flex-col md:flex-row items-start items-baseline">
        <div class="md:pl-4 pb-2 md:sticky top-0 order-1 pr-6">
          <h2 class="text-eucalyptus-600">{{ .Key }}</h2>
        </div>

        <ul class="order-2 flex-grow">
          {{ range .Pages }}
            {{ $p := . }}
            <li class="py-2 flex">
              <span class="font-serif pr-4 flex-shrink-0">{{ $p.Date.Format "01-02" }}</span>
              <div class="font-serif font-medium w-full">

                {{ $p := . }}
                {{/* Try to fetch a processable image from the page bundle first */}}
                {{ $img := cond (isset $p.Params "image") ($p.Resources.GetMatch $p.Params.image) nil }}


                {{ if $img }}
                  <a href="{{ $p.RelPermalink }}" class="block">
                    <div class="h-20 md:h-24 overflow-hidden rounded shadow bg-gray-100 mb-2">
                      <img
                        src="{{ .RelPermalink }}"
                        alt="{{ $p.Title }}"
                        loading="lazy" decoding="async"
                      />
                    </div>
                  </a>
                {{ else }}
                  {{/* Fallback to front-matter URL in /static/images with CSS crop */}}
                  {{ with $p.Params.image }}
                    <a href="{{ $p.RelPermalink }}" class="block">
                      <div class="h-20 md:h-24 overflow-hidden rounded shadow bg-gray-100 mb-2">
                        <img
                          src="{{ . | absURL }}"
                          alt="{{ $p.Title }}"
                          class="h-full object-cover"
                          loading="lazy" decoding="async"
						  width="150px" 
						  align="right"
						  style="margin-left:02px; filter: grayscale(100%) sepia(50%) 
						  hue-rotate(90deg) saturate(150%) brightness(1.2) contrast(90%) 
						  opacity(80%) blur(0px);"
                        />
                      </div>
                    </a>
                  {{ else }}
                    <a href="{{ $p.RelPermalink }}" class="block">
                      <div class="w-full h-20 md:h-24 bg-gray-200 rounded shadow mb-2"></div>
                    </a>
                  {{ end }}
                {{ end }}

                <a href="{{ $p.Permalink }}">{{ $p.Title }}</a>
                {{ with $p.Description }}
                  <div class="pl-4 text-gray-600 font-light">{{ . }}</div>
                {{ end }}
              </div>
            </li>
          {{ end }}
        </ul>
      </section>
    {{ end }}
  </section>
</article>
{{ end }}

{{ define "footer" }}
  {{ partial "list-footer.html" . }}
{{ end }}